{% extends 'base.html' %}

{% block head %}
About | RadzBlog
{% endblock head %}

{% block body %}
<div class="container mt-5 p-5" style="background-color: bisque;">
    <h3 class="pl-5 pt-2">Welcome to About Us Page</h3>
    <p class="pl-5 pt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti at veritatis impedit fugit explicabo accusamus facere reiciendis provident, aliquam, natus veniam velit unde voluptate sequi eveniet obcaecati sapiente commodi? Rerum.</p>
</div>
{% endblock body %}