<!-- DOCTYPE HTML -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>
        {% block head %}
        {% endblock head %}
    </title>
</head>

<body
    style="background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Natural-Wood-Panels-Simple-Background-Image.jpeg');">
    <nav class="navbar justify-content-center">
        <a class="navbar-brand text-white" href="{{ url_for('core.home') }}">RadzBlog</a>
    </nav>

    <div class="container pt-2">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('core.home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('core.about') }}">About Us</a>
            </li>
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('users.login') }}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('users.register') }}">Register</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-white" href="">Create New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('users.account') }}">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('users.logout') }}">Log Out</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="container pt-4">
        {% for message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{message.0}}" role="alert">
            {{message.1}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>

    {% block body %}
    {% endblock body %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>