{% extends 'base.html' %}

{% block head %}
Home | RadzBlog
{% endblock head %}

{% block body %}
<div class="container mt-4 text-center">
    {% if blogs.has_prev %}
    <a class="btn btn-sm btn-outline-info text-white"
        href="{{ url_for('core.home', page=blogs.prev_num) }}">Previous</a>
    {% else %}
    <a class="btn btn-sm btn-outline-info text-white disabled" href="#">Previous</a>
    {% endif %}

    {% for page in blogs.iter_pages(left_edge=3, right_edge=3) %}
    {% if page %}

    {% if page==blogs.page %}
    <a class="btn text-white" href="{{ url_for('core.home', page=page) }}">{{ page }}</a>
    {% else %}
    <a class="btn text-white" href="{{ url_for('core.home', page=page) }}">{{ page }}</a>
    {% endif %}

    {% else %}
    <a href="#" class="btn text-white disabled">…</a>
    {% endif %}
    {% endfor %}

    {% if blogs.has_next %}
    <a class="btn btn-sm btn-outline-info text-white" href="{{ url_for('core.home', page=blogs.next_num) }}">Next</a>
    {% else %}
    <a class="btn btn-sm btn-outline-info text-white disabled" href="#">Next</a>
    {% endif %}
</div>

{% for blog in blogs.items %}
<div class="container mt-5 py-4" style="background-color: bisque; max-width: 50rem;">
    <h3 class="pl-3">{{blog.title}}</h3>
    <em class="pl-3">Written By: </em><a
            href="{{ url_for('users.userblogs', username=blog.author.username) }}">{{blog.author.username}}</a>
    <br>
    <em class="pl-3">Posted On: </em>{{blog.posted_on.strftime("%b %d, %Y %I:%M %p")}}
    
    <div class="px-3 mt-3">
        {{blog.content}}
        <a class="float-right" href="{{ url_for('blogs.blogdetail', id=blog.id) }}">Read More...</a>
    </div>
</div>
{% endfor %}
{% endblock body %}